body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: whitesmoke;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

.container {
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: orange;
}

#message {
    color: red;
    margin-top: 10px;
}

#books {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book img {
    width: 100%;
    border-radius: 5px;
}

.books-title {
    font-weight: bold;
    margin-top: 10px;
}

.books-author {
    font-style: italic;
    margin-top: 5px;
}
